# PRE-PROCESSING

In [1]:
# importando las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # los graficos, el odulo pyplot
import seaborn as sb   # es una sobrecapa de matplotlib, permite hacer graficos estadisticos
%matplotlib inline

In [2]:
XC = pd.read_csv('./XC.csv')
XD = pd.read_csv('./XD.csv')

In [3]:
# XC.dtypes
# XD.dtypes

In [4]:
XC.head()

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,id_neighborhood,latitud,longitud,neighborhood,price,status,type_offer,year_built,riesgo
0,0,4.0,0,4.0,286,261,2,38,-16.532234,-68.079918,Koani,250000.0,2,Venta,NaN,bajo
1,0,3.0,0,4.0,225,225,0,35,-16.538757,-68.057556,Cota Cota,250000.0,2,Venta,NaN,moderado
2,0,4.0,0,4.0,432,850,3,151,-16.559860,-68.094620,Aranjuez,530000.0,2,Venta,NaN,moderado
3,0,6.0,0,3.0,600,603,2,37,-16.514441,-68.086395,Irpavi,580000.0,2,Venta,NaN,moderado
4,0,4.0,0,5.0,250,300,3,29,-16.513678,-68.053596,Achumani,169000.0,1,Venta,2019.0,alto

## One hot encoding

In [5]:
XC = pd.get_dummies(XC, prefix_sep="__",columns=['riesgo'])
XD = pd.get_dummies(XD, prefix_sep="__",columns=['riesgo'])

In [10]:
# XD = pd.get_dummies(XD, prefix_sep="__",columns=['type_offer'])
# XC = pd.get_dummies(XC, prefix_sep="__",columns=['type_offer'])

In [11]:
# XD.sample(2)
XC.head()
# XC.sample(2)

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,id_neighborhood,latitud,longitud,neighborhood,price,status,type_offer,year_built,riesgo__alto,riesgo__bajo,riesgo__moderado,riesgo__muy bajo
0,0,4.0,0,4.0,286,261,2,38,-16.532234,-68.079918,Koani,250000.0,2,Venta,NaN,0,1,0,0
1,0,3.0,0,4.0,225,225,0,35,-16.538757,-68.057556,Cota Cota,250000.0,2,Venta,NaN,0,0,1,0
2,0,4.0,0,4.0,432,850,3,151,-16.559860,-68.094620,Aranjuez,530000.0,2,Venta,NaN,0,0,1,0
3,0,6.0,0,3.0,600,603,2,37,-16.514441,-68.086395,Irpavi,580000.0,2,Venta,NaN,0,0,1,0
4,0,4.0,0,5.0,250,300,3,29,-16.513678,-68.053596,Achumani,169000.0,1,Venta,2019.0,1,0,0,0

In [12]:
# XC[XC['dimension_built'] == 0XC['dimension_ground'] == 0]
# XC[XC['dimension_ground']==0]

In [13]:
def getIdNeighborhoodHouses(n):
    diccNeighborhoods = {'Koani': 1, 'Cota Cota': 2, 'Aranjuez': 3, 'Irpavi': 4, 'Achumani': 5, 'Calacoto': 6, 'San Pedro': 7, 'Pampahasi': 8, 'Bolognia': 9, 'Sopocachi': 10, 'Alto Irpavi': 11, 'Alto Obrajes': 12, 'Mecapaca': 13, 'Miraflores': 14, 'Chasquipampa': 15, 'Auquisamaña': 16, 'La Florida': 17, 'Obrajes': 18, 'Seguencoma': 19, 'Los Pinos': 20, 'Mallasilla': 21, 'San Miguel': 22, 'Ovejuyo': 23, 'Bella Vista': 24, 'Tembladerani': 25, 'San Jorge': 26, 'Centro': 27, 'Villa San Antonio': 28, 'Villa Fatima': 29, 'Mallasa': 30, 'San Alberto': 31, 'El Pedregal': 32, 'Pura Pura': 33, 'El Tejar': 34}
    for key, value in diccNeighborhoods.items():
        if key.lower().strip() == n.lower().strip():
            return value
    return 0

In [14]:
def getIdNeighborhoodApartment(n):
    diccNeighborhoods = {'Achumani': 1, 'Alto Irpavi': 2, 'Chasquipampa': 3, 'Calacoto': 4, 'San Jorge': 5, 'Auquisamaña': 6, 'Obrajes': 7, 'Irpavi': 8, 'Los Pinos': 9, 'Cota Cota': 10, 'El Pedregal': 11, 'Bella Vista': 12, 'Sopocachi': 13, 'La Florida': 14, 'Llojeta': 15, 'Miraflores': 16, 'San Miguel': 17, 'Centro': 18, 'Mallasa': 19, 'Bolognia': 20, 'Mallasilla': 21, 'Seguencoma': 22, 'Villa Fatima': 23, 'San Pedro': 24, 'Koani': 25, 'Villa Copacabana': 26, 'Villa San Antonio': 27, 'Alto Obrajes': 28, 'El Tejar': 29}
    for key, value in diccNeighborhoods.items():
        if key.lower().strip() == n.lower().strip():
            return value
    return 0

In [15]:
XC['neighborhood_encoded'] = XC.apply (lambda row: getIdNeighborhoodHouses(row['neighborhood']), axis=1)
XD['neighborhood_encoded'] = XD.apply (lambda row: getIdNeighborhoodApartment(row['neighborhood']), axis=1)

In [16]:
# XC = XC.drop(['neighborhood','type_offer'], axis=1)
# XD = XD.drop(['neighborhood','type_offer'], axis=1)
XC = XC.drop(['id_neighborhood','neighborhood','type_offer'], axis=1)
XD = XD.drop(['id_neighborhood','neighborhood','type_offer'], axis=1)

In [18]:
# XD.head(2)
XC.head()

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,latitud,longitud,price,status,year_built,riesgo__alto,riesgo__bajo,riesgo__moderado,riesgo__muy bajo,neighborhood_encoded
0,0,4.0,0,4.0,286,261,2,-16.532234,-68.079918,250000.0,2,NaN,0,1,0,0,1
1,0,3.0,0,4.0,225,225,0,-16.538757,-68.057556,250000.0,2,NaN,0,0,1,0,2
2,0,4.0,0,4.0,432,850,3,-16.559860,-68.094620,530000.0,2,NaN,0,0,1,0,3
3,0,6.0,0,3.0,600,603,2,-16.514441,-68.086395,580000.0,2,NaN,0,0,1,0,4
4,0,4.0,0,5.0,250,300,3,-16.513678,-68.053596,169000.0,1,2019.0,1,0,0,0,5

In [142]:
# XC = XC.drop(XC[XC.duplicated(['amoblado','bathroom','baulera','bedroom',
#                                'dimension_built','dimension_ground','garage',
#                                'id_neighborhood','latitud','longitud','price',
#                                'status','year_built'], keep="first")].index)
XC = XC.drop(XC[XC.duplicated(['amoblado','bathroom','baulera','bedroom',
                               'dimension_built','dimension_ground','garage',
                               'neighborhood_encoded','latitud','longitud','price',
                               'status','year_built'], keep="first")].index)

In [143]:
# XD = XD.drop(XD[XD.duplicated(['amoblado','bathroom','baulera','bedroom',
#                                'dimension_built','dimension_ground','garage',
#                                'id_neighborhood','latitud','longitud','price',
#                                'status','year_built'], keep="first")].index)
XD = XD.drop(XD[XD.duplicated(['amoblado','bathroom','baulera','bedroom',
                               'dimension_built','dimension_ground','garage',
                               'neighborhood_encoded','latitud','longitud','price',
                               'status','year_built'], keep="first")].index)

In [144]:
XC.to_csv('./pre/XC.csv', index=False)

In [145]:
XD.to_csv('./pre/XD.csv', index=False)