# PRE-PROCESSING

In [25]:
# importando las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # los graficos, el odulo pyplot
import seaborn as sb   # es una sobrecapa de matplotlib, permite hacer graficos estadisticos
%matplotlib inline

In [26]:
XC = pd.read_csv('./XC.csv')
XD = pd.read_csv('./XD.csv')

In [27]:
# XC.dtypes
# XD.dtypes

## One hot encoding

In [28]:
XC = pd.get_dummies(XC, prefix_sep="__",columns=['riesgo'])
XD = pd.get_dummies(XD, prefix_sep="__",columns=['riesgo'])

In [29]:
# XD = pd.get_dummies(XD, prefix_sep="__",columns=['type_offer'])
# XC = pd.get_dummies(XC, prefix_sep="__",columns=['type_offer'])

In [30]:
XD.sample(2)
XC.sample(2)

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,id_neighborhood,latitud,longitud,neighborhood,price,status,type_offer,year_built,riesgo__alto,riesgo__bajo,riesgo__moderado,riesgo__muy bajo
280,0,5.0,0,18.0,600,300,6,47,-16.508842,-68.125961,Sopocachi,780000.0,2,Venta,1980.0,0,0,1,0
520,0,4.0,0,4.0,0,479,2,29,-16.518597,-68.058304,Achumani,380000.0,2,Venta,NaN,1,0,0,0

In [31]:
# XC[XC['dimension_built'] == 0XC['dimension_ground'] == 0]
XC[XC['dimension_ground']==0]

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,id_neighborhood,latitud,longitud,neighborhood,price,status,type_offer,year_built,riesgo__alto,riesgo__bajo,riesgo__moderado,riesgo__muy bajo
27,0,4.0,0,3.0,423,0,3,32,-16.539234,-68.086716,Calacoto,510000.0,1,Venta,2017.0,0,1,0,0
41,0,5.0,0,4.0,0,0,3,35,-16.542715,-68.062874,Cota Cota,320000.0,2,Venta,1995.0,0,0,1,0
43,0,6.0,0,4.0,530,0,3,39,-16.552507,-68.083717,La Florida,535000.0,2,Venta,2015.0,0,0,1,0
130,0,4.0,0,11.0,310,0,1,178,-16.512894,-68.120224,San Jorge,420000.0,2,Venta,1959.0,0,0,0,1
319,0,4.0,0,4.0,316,0,1,29,-16.521301,-68.059731,Achumani,297000.0,2,Venta,NaN,1,0,0,0
404,0,6.0,0,6.0,790,0,4,41,-16.488676,-68.123138,Miraflores,550000.0,2,Venta,NaN,0,0,0,1
456,0,5.0,0,3.0,250,0,2,29,-16.527802,-68.065552,Achumani,286000.0,1,Venta,2018.0,1,0,0,0
467,0,NaN,0,NaN,0,0,2,46,-16.536472,-68.097267,Seguencoma,570000.0,2,Venta,NaN,0,1,0,0
493,0,4.0,0,4.0,0,0,1,29,-16.517385,-68.060814,Achumani,175000.0,1,Venta,2017.0,1,0,0,0
495,0,4.0,0,4.0,467,0,2,29,-16.514471,-68.062218,Achumani,299000.0,2,Venta,NaN,1,0,0,0
501,0,4.0,0,3.0,365,0,2,39,-16.553434,-68.082024,La Florida,370000.0,1,Venta,NaN,0,0,1,0
506,0,5.0,0,4.0,0,0,0,29,-16.513926,-68.054169,Achumani,300000.0,2,Venta,NaN,1,0,0,0
526,0,7.0,0,5.0,420,0,4,29,-16.516829,-68.062103,Achumani,480000.0,2,Venta,NaN,1,0,0,0
541,1,4.0,0,3.0,227,0,2,29,-16.526333,-68.051743,Achumani,150000.0,1,Venta,2016.0,1,0,0,0
607,0,4.0,0,4.0,943,0,1,42,-16.522842,-68.108994,Obrajes,760000.0,2,Venta,NaN,0,1,0,0
611,0,4.0,0,4.0,943,0,1,42,-16.525251,-68.110901,Obrajes,760000.0,2,Venta,NaN,0,1,0,0

In [32]:
XC = XC.drop(['neighborhood','type_offer'], axis=1)
XD = XD.drop(['neighborhood','type_offer'], axis=1)

In [33]:
XD.head(2)
XC.head(2)

,amoblado,bathroom,baulera,bedroom,dimension_built,dimension_ground,garage,id_neighborhood,latitud,longitud,price,status,year_built,riesgo__alto,riesgo__bajo,riesgo__moderado,riesgo__muy bajo
0,0,4.0,0,4.0,286,261,2,38,-16.532234,-68.079918,250000.0,2,NaN,0,1,0,0
1,0,3.0,0,4.0,225,225,0,35,-16.538757,-68.057556,250000.0,2,NaN,0,0,1,0

In [34]:
XC = XC.drop(XC[XC.duplicated(['amoblado','bathroom','baulera','bedroom',
                               'dimension_built','dimension_ground','garage',
                               'id_neighborhood','latitud','longitud','price',
                               'status','year_built'], keep="first")].index)

In [35]:
XD = XD.drop(XD[XD.duplicated(['amoblado','bathroom','baulera','bedroom',
                               'dimension_built','dimension_ground','garage',
                               'id_neighborhood','latitud','longitud','price',
                               'status','year_built'], keep="first")].index)

In [36]:
XC.to_csv('./pre/XC.csv', index=False)

In [37]:
XD.to_csv('./pre/XD.csv', index=False)